@import "tailwindcss";

@theme {
    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;

    --color-secondary-500: #f43f5e;
    --color-secondary-600: #e11d48;

    --color-body: #f8fafc;
    --color-white: #ffffff;
    --color-text-main: #1e293b;
    --color-text-muted: #64748b;
    --color-border-color: #e2e8f0;
}

@utility container {
    margin-inline: auto;
    max-width: 1360px;
    padding: 0 5px;
    border-radius: 5px;
}
