@import "tailwindcss";
@import "vazirmatn/misc/Farsi-Digits/Vazirmatn-FD-font-face.css";

@variant dark (&:where(.dark, .dark *));
@theme {
    --color-primary-50: #eef2ff;
    --color-primary-100: #e0e7ff;
    --color-primary-500: #6366f1;
    --color-primary-600: #4f46e5;
    --color-primary-700: #4338ca;

    --color-secondary-500: #f43f5e;
    --color-secondary-600: #e11d48;

    --color-body: #f8fafc;
    --color-white: #ffffff;
    --color-text-main: #1e293b;
    --color-text-muted: #64748b;
    --color-border-color: #e2e8f0;

    --font-vazir: "Vazirmatn FD", ui-sans-serif, system-ui;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 9999s ease-in-out 0s;
    caret-color: inherit;
}

html:not(.dark) input:-webkit-autofill,
html:not(.dark) textarea:-webkit-autofill,
html:not(.dark) select:-webkit-autofill {
    -webkit-text-fill-color: #111827 !important;
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    box-shadow: 0 0 0 1000px #ffffff inset !important;
}

html.dark input:-webkit-autofill,
html.dark textarea:-webkit-autofill,
html.dark select:-webkit-autofill {
    -webkit-text-fill-color: #e5e7eb !important;
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    box-shadow: 0 0 0 1000px #111827 inset !important;
    caret-color: #e5e7eb;
}


@utility container {
    margin-inline: auto;
    max-width: 1360px;
    padding: 0 5px;
    border-radius: 5px;
}